.navbarMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: solid 1px #474747;
}

.navbarInputContainer  {
    background-color: #323232;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 13px 12px;
    color: white;
    width: 270px;
}

.navbarSearchIcon {
    flex-shrink: 0;
    margin-right: 10px;
    font-size: 20px;
}

.navbarInput {
    background-color: #323232;
    border: none;
    color: white;
    flex-grow: 1;
}

.navbarFunctionalButtonContainer {
    display: flex;
    align-items: center;
    padding: 15px 14px;
    background-color: #6FFB78;
    justify-content: space-between;
    border-radius:  15px;
    cursor: pointer;
    width: 220px;
    
}

.navbarFunctionalButton {
    background-color: transparent;
    border: none;
    font-size: 10px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
